[fltsim]
fallback.1=..\..\UH60\texture
fallback.2=..\..\..\..\texture\AS1000
fallback.3=..\..\..\..\texture\Glass
fallback.4=..\..\..\..\texture\Lights

# To save on redundant textures, and to keep this up to date with future updates,
# make sure to fallback to the closest base aircraft variant to your livery!