@font-face {
  font-family: "BoeingFont";

  src: url("/Fonts/AP_DISP.ttf") format("truetype");
}

@font-face {
  font-family: "mono";

  src: url("/Fonts/mono.ttf") format("truetype");
}

text {
  font-family: "BoeingFont";
  letter-spacing: -2px;
}

.ESIS {
  font-family: "mono";
  fill: white;
  paint-order: stroke;
}

.Horizon_lower {
  fill: #a62525;
}

.Horizon_upper {
  fill: #0094de;
}

.SidesBar {
  fill: #3d4d55;
}

.YellowVS {
  fill: #afbe0b;
}