@font-face {
  font-family: "mono";

  src: url("/Fonts/mono.ttf") format("truetype");
}

text1 {
  font-family: "mono";
  letter-spacing: 13px;
}

text {
  font-family: "mono";
  letter-spacing: 2px;
  fill: #00fd00;
}

.barline {
  fill: #00fd00;
}

.linehollow {
  stroke: #00fd00;
}

.linetest {
  stroke: #fd3700;
}

.linewhite {
  stroke: white;
}

.FDBar {
  fill: #918391;
  stroke: #d101d1;
}