@font-face {
  font-family: "OCRB";

  src: url("/Fonts/OcrB2.ttf") format("truetype");
}

@font-face {
  font-family: "mono";

  src: url("/Fonts/mono.ttf") format("truetype");
}

text {
  font-family: "mono";
  fill: white;
}

.text, .text-4 {
  fill: white;
  text-anchor: end;
  paint-order: stroke;
}

.text-4 {
  font-size: 42px;
}

.degrees {
  font-family: "mono";
}

.readouts {
  font-style: "italic";
}

.apdisp {
  font-style: "italic";
  font-family: "mono";
  fill: greenyellow;
}

.apreadout {
  font-style: "italic";
  font-family: "mono";
  fill: #cf0571;
}

.engbox {
  font-style: "italic";
  font-family: "mono";
  fill: "none";
  stroke: #578d06;
}

.bargauge {
  fill: greenyellow;
}

.barline {
  fill: greenyellow;
}

.barmax {
  fill: red;
}

.barwarn {
  fill: #e2ba06;
}

.FDBar {
  fill: #918391;
  stroke: #d101d1;
}

.VSBar {
  fill: #1e79e2;
}