@font-face {
    font-family: "OCRB";
    src: url("/Fonts/OcrB2.ttf") format("truetype");
}
@font-face {
    font-family: "mono";
    src: url("/Fonts/mono.ttf") format("truetype");
}
text {
    font-family: "mono";
    fill: white;
}
.text {
    fill: white;
    text-anchor: end;
    paint-order: stroke;
}

.text-4 {
    @extend .text;
    font-size: 42px;
}
.text-safe {
    @extend .text;
    fill: greenyellow
}
.text-caution {
    @extend .text;
    fill: yellow
}
.text-warning {
    @extend .text;
    fill: red
}


.degrees {
    font-family: "mono";
}

.readouts {
    font-style: 'italic';
    font-family: "OCRB";

}
.tacmap_cyantext {
    @extend .readouts;
    fill: cyan;

}

.apdisp {
    font-style: 'italic';
    font-family: "mono";
    fill: greenyellow;
}
.apreadout {
    font-style: 'italic';
    font-family: "mono";
    fill: rgb(207, 5, 113);
}

.engbox {
    font-style: 'italic';
    font-family: "mono";
    fill: "none";
    stroke: rgb(87, 141, 6);
}

.bargauge {
    fill: greenyellow;
}

.barline {
    fill: greenyellow;
}
.barmax {
    fill: red;
    stroke: black;          
    stroke-width: 2px;
    paint-order: stroke; 
}
.barwarn {
    fill: yellow;
    stroke: black;          
    stroke-width: 2px;
    paint-order: stroke; 
}
.FDBar {
    fill: rgb(145, 131, 145);
    stroke: rgb(209, 1, 209);
}
.VSBar {
    fill: rgb(30, 121, 226);
}

.tapeGreen {
    fill: greenyellow;
}
.tapeYellow {
    fill: yellow;
}
.tapeRedStripes {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+");
    background-repeat: repeat;
    fill: red;
}
.eicas-display {
    background-color: black;
    padding: 10px;
    border: 2px solid gray;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
}
  
.eicas-alert {

padding: 5px;
margin-bottom: 5px;
}

.eicas-alert.non-acknowledged {
    font-style: 'italic';
    font-family: "mono";
background-color: yellow;
color: black;
}

.eicas-alert.acknowledged {
    font-style: 'italic';
    font-family: "mono";
background-color: transparent;
color: yellow;
}