#GlobalTextContainer {
}

#GlobalText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 3px 0;
}

.global-text-left {
  display: flex;
  width: 29%;
  justify-content: space-around;
}

.global-text-right {
  display: flex;
  width: 22%;
  justify-content: space-around;
}

.global-text-field {
  text-anchor: middle;
  font-size: 25px
}

.global-text-field-1 {
  @extend .global-text-field
}

.global-text-field-2 {
  @extend .global-text-field
}

.global-text-field-3 {
  @extend .global-text-field
}

.global-text-field-4 {
  @extend .global-text-field
}

.global-text-field-5 {
  @extend .global-text-field
}

.global-text-field-6 {
  @extend .global-text-field
}